.header__lang-link{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  font-style: normal;
  margin-top: 18px;
  margin-bottom: 6px;
}

.header__lang-link:hover{
  text-decoration: underline;
}

/* @media screen and (max-width: 320px) {
  .header__lang-link{
    margin-top: 14px;
    margin-bottom: 8px;
  }
} */
