.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  z-index: 3;
  text-decoration: none;
}

@media screen  and (max-width: 490px){
  .cover__subtitle{
    font-size: 15px;
    line-height: 1em;
  }
}

@media screen  and (max-width: 320px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
  }
}
