.lead__img{
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}


@media screen and (max-width: 768px){
  .lead__img{
    width:100vw;
    margin-left: -24px;
  }
}

@media screen and (max-width: 320px){
  .lead__img{
    width:100vw;
    margin-left: -16px;
  }
}
