.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 92px;
}
@media screen and (max-width: 768px){
  .footer{
    padding-top: 88px;
    max-width: 720px;
  }
}
@media screen  and (max-width: 717px){
  .footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 320px){
  .footer{
    padding-top: 64px;
  }
}

