.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
}
@media screen and (max-width: 717px){
  .footer{
    flex-direction: column;
    flex-wrap: wrap;
  }
}



