.page__cover{
  background-image: url(../../../images/cover-trains.jpg);
  z-index: 0;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: calc(730px + 1vmin);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .page__cover{
    height: calc(640px + 1vmin);
  }
}


@media screen and (max-width: 768px) {
  .page__cover{
    height: calc(480px + 1vmin);
  }
}
@media screen and (max-width: 725px) {
  .page__cover{
    height: calc(350px + 1vmin);
  }
}


@media screen and (max-width: 530px) {
  .page__cover{
    height: calc(300px + 1vmin);
  }
}
@media screen and (max-width: 473px) {
  .page__cover{
    height: calc(250px + 1vmin);
  }
}
@media screen and (max-width: 320px) {
  .page__cover{
    height: calc(200px + 1vmin);
  }
}
